.container {
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0 6rem;
}

.centered__row {
  position: relative;
  width: 100%;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
}

.search__result__container {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.search__result__container > description {
  color: #adadad;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search__result__container > description > strong {
  font-weight: 600;
}
