.layout {
  width: 8rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid var(--color-gray-2);
  border-radius: 0.5rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: var(--color-black);
  transition: 0.2s all ease-in-out;
}

.layout:hover {
  border: 0.5px solid transparent;
  background-color: var(--color-black);
  color: var(--color-white);
}
