.layout {
  width: 8rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid #cacaca;
  border-radius: 0.75rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: #131926;
  transition: 0.2s all ease-in-out;
}

.layout:hover {
  border: 0.5px solid transparent;
  background-color: #131926;
  color: white;
}
