.container {
  position: relative;
}

.grayscale__layer,
.color__layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.grayscale__layer {
  filter: grayscale(100%);
  z-index: 1;
}

.color__layer {
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
  mask-image: radial-gradient(
    circle 400px at var(--mouse-x, 50%) var(--mouse-y, 50%),
    black 0%,
    black 20%,
    transparent 80%
  );
  -webkit-mask-image: radial-gradient(
    circle 400px at var(--mouse-x, 50%) var(--mouse-y, 50%),
    black 0%,
    black 20%,
    transparent 80%
  );
}

.container:hover .color__layer {
  opacity: 1;
}
