.layout {
  position: relative;
  width: 100%;
  max-width: 60rem;

  display: flex;
  flex-direction: column;
  row-gap: 2.56rem;
  padding: 2.25rem;
  border-radius: 0.75rem;

  background-color: white;
}

.top__area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.75rem;
}

.bottom__area {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.date {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #131926;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.title > svg {
  width: 0.375rem;
  height: 0.375rem;
}

.title > span {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;

  color: #131926;

  @apply break-keep;
}
