.layout__focused {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: transparent;
}

.layout {
  position: fixed;
  top: 0;
  z-index: 10;
  
  width: 100%;
  height: 5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: saturate(180%) blur(0.5rem);
  backdrop-filter: saturate(180%) blur(0.5rem);
}

.container {
  width: 100%;
  max-width: 65rem;
  padding: 0 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__container__focused {
  position: relative;

  width: 2rem;
  height: 2rem;

  opacity: 0;
}

.profile__container {
  position: relative;

  width: 2rem;
  height: 2rem;
}

.nav__focused {
  display: flex;

  column-gap: 3.3rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: #f1faff;
}

.nav {
  display: flex;

  column-gap: 3.3rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #131926;
}
