.layout {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__container {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 2rem 2.5rem;
}

.select__container {
  position: relative;

  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.select__button {
  min-width: fit-content;
  height: 1.75rem;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.8rem;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: 0.05rem solid #cacaca;
  border-radius: 1rem;

  color: #131926;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.select__button:hover {
  border: 0.05rem solid #131926;

  background-color: #131926;
  color: white;
}

.select__button__focused {
  min-width: fit-content;
  height: 1.75rem;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.8rem;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: 0.05rem solid #131926;
  border-radius: 1rem;

  background-color: #131926;
  color: white;
  cursor: pointer;
}

.download__button {
  width: 8.75rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #cacaca;
  border-radius: 0.75rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  cursor: pointer;
  color: #131926;

  transition: 0.2s all ease-in-out;
}

.download__button:hover {
  border: 1px solid transparent;
  background-color: #131926;
  color: white;
}

.content__container {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
}
