.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(0.5rem);
  backdrop-filter: saturate(200%) blur(0.5rem);
  z-index: 9999;

  cursor: pointer;
}

.modal {
  position: relative;
  width: auto;
  height: auto;
}

.image__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  border-radius: 0.5rem;
}
