@theme {
  --animate-fade-in: fadeIn 0.3s forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-in-up: fadeInUp 0.3s forwards;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-left: fadeInLeft 0.3s forwards;
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  --animate-shimmer: shimmer 1.5s infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}
