@theme {
  --duration-fast: 200ms;
  --duration-base: 250ms;
}

@theme inline {
  --animate-fade-in: fadeIn var(--duration-base) forwards;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-in-up: fadeInUp var(--duration-base) forwards;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-down: fadeInDown var(--duration-base) forwards;
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-zoom: fadeInZoom var(--duration-base) forwards;
  @keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(0.96);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-fade-in-left: fadeInLeft var(--duration-base) forwards;
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  --animate-shimmer: shimmer 1.5s infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}
