@theme {
  --z-index-below: -1;
  --z-index-base: 0;
  --z-index-overlay: 10;
  --z-index-header: 500;
  --z-index-dropdown: 600;
  --z-index-popover: 700;
  --z-index-dimmed: 999;
  --z-index-modal: 1000;
  --z-index-drawer: 1100;
  --z-index-toast: 2000;
}
