@theme {
  --color-white: #ffffff;
  --color-background: #f9fbfc;
  --color-gray-1: #f1f4f7;
  --color-gray-2: #cacaca;
  --color-gray-3: #adadad;
  --color-black: #131926;
  --color-skyblue: #5fd0ff;
  --color-blue: #0032a0;
}
