@theme {
  --shadow-tiny:
    rgba(0, 0, 0, 0.2) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  --shadow-natural:
    0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04),
    0px 58px 35px 0px rgba(0, 0, 0, 0.05),
    0px 26px 26px 0px rgba(0, 0, 0, 0.09), 0px 162px 45px 0px rgba(0, 0, 0, 0);
}
