.layout {
  position: relative;

  width: 100%;
  min-height: calc(100vh - 10rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  background-color: #fafafa;
  transition: 0.3s ease all;
}

.layout__focused {
  position: relative;

  width: 100%;
  min-height: calc(100vh - 10rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  background-color: #131926;
  transition: 0.3s ease all;
}

.container {
  width: 60rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  margin: 3rem 0 6.25rem 0;

  border-radius: 1rem;
  overflow: hidden;

  background-color: white;
}

.content__header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 0;
}

.title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.date {
  margin-top: 1rem;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tags {
  margin-top: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.content__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content__type__image {
  display: flex;
  flex-direction: column;
}

.content__type__image > div {
  position: relative;

  width: 100%;
  min-height: 33.75rem;
  /* height: auto; */
}

.content__type__image > span {
  margin-top: 0.75rem;
  padding: 0 3.625rem;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__type__paragraph {
  padding: 0 3.625rem;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.content__footer {
  display: flex;
  justify-content: center;

  padding: 3rem 0;
}
