.layout {
  z-index: 2000;
  position: relative;

  width: 100%;
  min-height: calc(100vh - 10rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  background-color: transparent;
}

.container {
  width: 60rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0;
}

.container > h1 {
  font-size: 1.5rem;
  font-weight: 300;

  color: white;
}

.container strong {
  font-weight: 600;
}

.banner__container {
  position: relative;

  width: 60rem;
  height: 6.25rem;
}

.post__row {
  display: flex;
  justify-content: space-between;
}

.centered__row {
  display: flex;
  justify-content: center;
}

.video__container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
