.layout {
  min-width: fit-content;
  height: 1.75rem;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0.8rem;

  border: 0.05rem solid #cacaca;
  border-radius: 1rem;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #131926;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.layout:hover {
  border: 0.05rem solid #131926;

  background-color: #131926;
  color: white;
}
