.layout {
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 13.875rem;

  display: flex;
  justify-content: space-between;

  border-radius: 0.75rem;

  background-color: white;
}

.content__container {
  min-width: 25rem;
  flex: 1;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top__area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.75rem;
}

.bottom__area {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.thumbnail__container {
  position: relative;
  width: 4.5rem;
  min-width: 4.5rem;
  height: 4.5rem;
  min-height: 4.5rem;
  margin: 1.5rem;

  border-radius: 35% 65% 69% 31% / 58% 49% 51% 42%;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.6s ease;
}

.layout:hover .thumbnail__container {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.date {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #131926;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.title > svg {
  width: 0.375rem;
  height: 0.375rem;
}

.title > span {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;

  color: #131926;

  @apply break-keep;
}

.description {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #adadad;

  @apply break-keep;
}
