.layout {
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 13.875rem;

  display: flex;
  justify-content: space-between;

  border-radius: 0.75rem;

  background-color: white;
}

.content__container {
  min-width: 25rem;
  flex: 1;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top__area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.bottom__area {
  display: flex;
  flex-direction: column;
}

.thumbnail__container {
  position: relative;
  width: 13.875rem;
  height: 13.875rem;

  border-radius: 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.date {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: #131926;
}

.title {
  margin-top: 0.5rem;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;

  color: #131926;
}
