.layout {
  width: 19rem;
  height: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0 1rem;

  border-radius: 1rem;
  background-color: var(--color-white);

  transition: 0.3s box-shadow ease-in-out;

  &:focus-within {
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 0.6s box-shadow ease;
  }
}

.icon__container {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.input {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;

  border: none;
  outline: none;
  padding-top: 0.1rem;

  text-overflow: ellipsis;
  whitespace: nowrap;
  leading-trim: both;
  text-edge: cap;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color: var(--color-black);
  background-color: transparent;
}

.input::placeholder {
  color: var(--color-gray-3);
}
.input::-webkit-input-placeholder {
  color: var(--color-gray-3);
}
.input::-ms-input-placeholder {
  color: var(--color-gray-3);
}
.input::-webkit-input-placeholder {
  color: var(--color-gray-3);
}
.input::-ms-input-placeholder {
  color: var(--color-gray-3);
}
