.layout_base {
  min-width: fit-content;
  height: 1.75rem;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  column-gap: 0.5rem;

  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s all ease;
}

.layout_default {
  composes: layout_base;
  border: 0.5px solid var(--color-gray-2);
  color: var(--color-black);
}

.layout_selected {
  composes: layout_default;
  border: 0.5px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
}

.content {
  display: flex;
  align-items: center;
  gap: 0.38rem;
}

.name {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.count {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
