.layout {
  position: relative;

  width: 100%;
  min-height: calc(100vh - 10rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  background-color: #fafafa;
}

.container {
  width: 60rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

.banner__container {
  position: relative;

  width: 60rem;
  height: 6.25rem;
}

.postrow__upper {
  display: flex;
  justify-content: space-between;
}

.postrow__lower {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
}

.centered__row {
  display: flex;
  justify-content: center;
}
