.layout {
  /* width: 85px; */
  min-height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  padding: 0 1rem;

  border: 1px solid black;
  border-radius: 0.75rem;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: #131926;

  /* transition: 0.2s all ease; */
}

.icon__container {
  position: relative;

  width: 1rem;
  height: 1rem;
}
