.mdx__image {
  object-fit: contain !important;
  position: relative !important;
  height: auto !important;

  border-radius: 0.5rem;
}

.mdx__link {
  color: #131926;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.1rem;
}

.mdx__code {
  border: 0.5px solid var(--color-gray-2);
  border-radius: 2rem;
  font-size: 1rem;
}

.mdx__blockquote {
  padding-left: 1.25rem;
  border-left: 0.2rem solid var(--color-gray-1);
  color: var(--color-gray-3);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  font-style: normal;
}

.mdx__list {
  padding-left: 1.5rem;
  margin: 1rem 0;
  line-height: 1.75rem;
}

.mdx__list li {
  margin: 0.5rem 0;
}

.mdx__list li::marker {
  color: var(--color-gray-3);
}
