.mdx__image {
  object-fit: contain !important;
  position: relative !important;
  height: auto !important;

  border-radius: 0.5rem;

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.mdx__link {
  color: #131926;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.1rem;
}

.mdx__code {
  border: 0.1rem solid #efefef;
  border-radius: 1.5rem;
  font-size: 1rem;
}

.mdx__blockquote {
  padding-left: 1.25rem;
  border-left: 0.2rem solid #f0f0f0;
  color: #acacac;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  font-style: normal;
}

.mdx__list {
  padding-left: 1.5rem;
  margin: 1rem 0;
  line-height: 1.75rem;
}

.mdx__list li {
  margin: 0.5rem 0;
}

.mdx__list li::marker {
  color: #c0c0c0;
}
