.container {
  position: relative;
  width: 100%;
  height: 6.25rem;
  flex-shrink: 0;

  border-radius: 0.5rem;
  overflow: hidden;

  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  transition: all 0.3s ease;
}

.container:hover {
  filter: none;
  -webkit-filter: none;
}

.container::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background: transparent;
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
  mask-image: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    transparent 0%,
    rgba(0, 0, 0, 0.2) 30%,
    black 70%
  );
  -webkit-mask-image: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    transparent 0%,
    rgba(0, 0, 0, 0.2) 30%,
    black 70%
  );
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.container:hover::after {
  opacity: 1;
}

.banner__text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;

  color: #6082b6;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem;
  mix-blend-mode: luminosity;

  word-break: keep-all;
}

.container:hover .banner__text {
  mix-blend-mode: normal;
}
